@import url('https://fonts.googleapis.com/css?family=Abel|Cutive+Mono|Permanent+Marker&display=swap');

/*----------FONTS----------*/

body {
        font-family: 'Abel', sans-serif;
    color: #2f4858;
    background-color: #F4F4F4;
}

h1, h3, legend, a, nav {
    font-family: 'Cutive Mono', monospace;
}


h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    }

h3, legend {
    font-size: 1.8rem;
}

.tagline {
    font-size: 2rem;
    font-family: 'Cutive Mono', monospace;
   }

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #DC0703 !important;

}

/*----------MEDIA QUERIES----------*/

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    .tagline {
        font-size: 3rem;
    }
}

/*----------BUTTONS----------*/

.button-style {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #2F4858;
    box-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);

}

/*----------MEDIA QUERIES----------*/

@media (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .tagline {
        font-size: 2.95rem;
    }
}