@import url('https://fonts.googleapis.com/css?family=Abel|Cutive+Mono|Permanent+Marker&display=swap');

/*----------FONTS----------*/

body {
    font-family: 'Abel', sans-serif;
    color: #2f4858;
    background-color: #F4F4F4;
}

h1,
h3,
legend,
a,
nav {
    font-family: 'Cutive Mono', monospace;
}


h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
}

h3,
legend {
    font-size: 1.8rem;
}

.tagline {
    font-size: 2rem;
    font-family: 'Cutive Mono', monospace;
    line-height: .5;
    
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #DC0703 !important;

}

/*----------MEDIA QUERIES----------*/



/*----------BUTTONS----------*/

.button-style {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #2F4858;
    box-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);

}

/*----------BACKGROUNDS----------*/

.hero {
    background: url("../images/typewriter.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.shadows {
    box-shadow: 0 3px 6px rgba(32, 82, 123, 0.16), 0 3px 6px rgba(32, 82, 123, 0.23);
}

.vw--100{
    min-width: 100%;
}

.vh--5 {
    min-height: 5vh;
}

.vh--10 {
    min-height: 10vh;
}

.vh--15 {
    min-height: 15vh;
}

.vh--20 {
    min-height: 20vh;
}

.vh--50 {
    min-height: 50vh;
}

.vh--55 {
    min-height: 55vh;
}

.vh--30 {
    min-height: 30vh;
}

.vh--35 {
    min-height: 35vh;
}

.vh--40 {
    min-height: 40vh;
}

.vh--45 {
    min-height: 45vh;
}

.vh--70 {
    min-height: 70vh;
}

.vh--75 {
    min-height: 75vh;
}

.vh--80 {
    min-height: 80vh;
}

.vh--85 {
    min-height: 85vh;
}


/*----------MEDIA QUERIES----------*/

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    .tagline {
        font-size: 3rem;
    }
}


@media (min-width: 992px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .tagline {
        font-size: 3rem;
    }
}

/*----------TESTING----------*/

.r  {
    border: 1px solid red;
  }