@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Caveat|Trocchi&display=swap');


.hide-start {
    display: none;
}

/*WHY: Used to prevent first load flicker experienced when jQuery hide() used to hide elements at start.*/

/*----------FONTS----------*/

body {
    font-family: 'Cabin Condensed', sans-serif;
    color: #354550;
    background-color: #ECECEC;
}

p {
    line-height: 1;
}

.hero h1 {
    font-size: 3.5rem;
    font-family: 'Trocchi', serif;
    color: #354550;
}

/*WHY: h1 used on all pages. hero plus h1 used to target QWERTY only.*/
/*WHY: Color included to prevent dark mode dark class overwriting.*/

.tagline {
    font-size: 2rem;
    font-family: 'Caveat', cursive;
    line-height: .6;
    color: #354550;
}

/*WHY: Color included to prevent dark mode dark class overwriting.*/

.tagline--codes {
    letter-spacing: .05rem;
    color: #717c84;
}

/*WHY: Color included to prevent dark mode dark class overwriting.*/

h1,
legend {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

.message {
    font-size: 1.25rem;
    color: #36abb5;
}

/*WHAT: Formatting for positive Flask Messages.*/

.error {
    font-size: 1.25rem;
    color: #fe5e51;
}

.error--validate {
    font-size: 1rem;
    color: #fe5e51;
}

/*WHAT: Formatting for negative Flask Messages.*/

.fa-info-circle {
    font-size: 1.25rem;
}

/*WHY: Size increased as icon used as a button.*/

.italics {
    font-style: italic;
}

ul {
    list-style: none;
}

/*WHY: Remove bullet points.*/

textarea {
    background-color: white !important;
}

/*WHY: Important used to ensure overwrite Bootstrap background color on notes page./


/*----------NAVBAR & LINKS----------*/

a {
    text-decoration: none;
    color: #cb4b40;
}

a:hover {
    text-decoration: none;
    color: #354550;
}

nav {
    font-size: 2rem;
}

nav a {
    font-family: 'Caveat', cursive;
}

#pick--notes,
#pick--links {
    min-width: 0rem;
}

/*WHY: IDs used to overwrite Bootstrap dropdown widths.*/

#pick--notes>a,
#pick--links>a {
    font-family: 'Cabin Condensed', sans-serif;
}

#pick--notes>a:hover,
#pick--links>a:hover {
    background-color: #ECECEC;
}


/*----------TOGGLE----------*/

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #717c84;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

/*WHERE: Prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */


.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

/* WHERE: Prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

input:checked+.slider {
    background-color: #eda33e;
}

input:focus+.slider {
    -webkit-box-shadow: 0 0 1px #eda33e;
    box-shadow: 0 0 1px #eda33e;
}

/* WHERE: Prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/*WHERE: https://www.w3schools.com/howto/howto_css_switch.asp*/


/*----------BUTTONS----------*/

.btn {
    text-decoration: none;
    color: #cb4b40;
}

.btn:hover {
    color: #354550;
}

.button-style {
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    color: #ececec;
    padding: 6px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #354550;
    -webkit-box-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);
    box-shadow: 1px 1px 1px rgba(49, 49, 80, 0.3);
}

/* WHERE: Prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

.button-style:hover {
    color: #9ba3a8;
}

/*----------WORD SEARCH----------*/

.line {
    border-bottom: 1px solid #c2c7ca;
}

.width--tsearch {
    width: 150px !important;
}

/*----------BACKGROUNDS & SHADOWS----------*/

.hero {
    background: url("../images/pencil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vh--10 {
    min-height: 10vh;
}

.vh--90 {
    min-height: 90vh;
}

ul:not(.type-radio),
.slider.round {
    -webkit-box-shadow: 0 1.5px 3px rgba(53, 69, 80, 0.16), 0 1.5px 3px rgba(53, 69, 80, 0.23);
    box-shadow: 0 1.5px 3px rgba(53, 69, 80, 0.16), 0 1.5px 3px rgba(53, 69, 80, 0.23);
}

/*WHY: Class type-radio excluded as don't want any outline or shadow on radio elements.*/
/*WHERE: Prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */


/*----------MEDIA QUERIES----------*/

@media (min-width: 768px) and (max-width: 991px) {
    .hero h1 {
        font-size: 4.25rem;
    }

    .tagline {
        font-size: 2rem;
    }

    h1,
    legend {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    nav {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .hero h1 {
        font-size: 4.25rem;
    }

    .tagline {
        font-size: 2.25rem;
    }

    h1,
    legend {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    nav {
        font-size: 2.25rem;
    }
}


/*----------DARK MODE----------*/

.dark {
    background-color: #354550;
    color: #ECECEC;
}

.dark-hover:hover {
    color: #ECECEC !important;
}

.dark-hover--orange:hover {
    color: #eda33e !important;
}

.dark-hover--stone:hover {
    color: #ECECEC !important;
}