{% extends 'base.html' %}
{% block content%}

<div class="row">
    <div class="col-12 col-md-8">

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!--WHY: form instance. hidden_tag method for security - will come back to later-->

            <fieldset class="form-group">
                <legend class="">{{ language }} Links - <br class="d-md-none">Add New </legend>

                <!--INPUT TOPIC-->
                <div class="form-group">
                    {{ form.topic.label(class="form-control-label") }}
                    {% if form.topic.errors %}
                    {{ form.topic(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.topic.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.topic(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT TYPE-->
                <div class="form-group">
                    {{ form.link_type.label(class="") }}
                    {% if form.link_type.errors %}
                    {{ form.link_type(class="") }}
                    {% for error in form.link_type.errors %}
                    <span class="oops">{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.link_type(class="") }}
                    {% endif %}
                </div>
                <!--? BOOTSTRAP WITH RADIO-->

                <!--INPUT URL-->
                <div class="form-group">
                    {{ form.url.label(class="form-control-label") }}
                    {% if form.url.errors %}
                    {{ form.url(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.url.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.url(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT NAME-->
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT DESCRIPTION-->
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT RATE-->
                {{ form.rate.label }}
                {{ form.rate (data_star="rate", type="hidden")}}
                <!--WHERE: https://stackoverflow.com/questions/27779024/setting-data-attributes-on-a-wtforms-field-->
<!--WHERE: https://www.w3schools.com/tags/att_input_type_hidden.asp-->
                
                
                <button type="button" class="button-style--i p-0">
                    <i class="fas fa-star rate-star" data-star="1"></i></button>
                <button type="button" class="button-style--i p-0">
                    <i class="fas fa-star rate-star" data-star="2"></i></button>
                <button type="button" class="button-style--i p-0">
                    <i class="fas fa-star rate-star" data-star="3"></i></button>
                <button type="button" class="button-style--i p-0">
                    <i class="fas fa-star rate-star" data-star="4"></i></button>
                <button type="button" class="button-style--i p-0">
                    <i class="fas fa-star rate-star" data-star="5"></i></button>

            </fieldset>
            <!--WHAT: Bootstrap class form-group-->
            <!--WHAT: Fieldset element groups data in a form-->
            <!--WHAT: Legend element label for fieldset-->
            <!--WHAT: Note how to add classes to variables. Pass in a class argument.-->

            <!--SUBMIT BUTTON & FLASH MESSAGE-->
            <div class="form-group">
                {{ form.submit(class="btn button-style") }}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                <!--WHERE: Flask Flash Documentation https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
                {% if errors %}
                {% for error in errors %}
                <strong class="error"><br>{{ error }}</strong>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--WHY: Error message displayed next to button verses top of page to improve visibilty after submitting.-->



        </form>

    </div>
</div>

{% endblock content%}