{% extends 'base.html' %}

{% block content%}
<div class="row">
    <div class="col-12 col-md-8">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!--WHY: form instance. hidden_tag method for security - will come back to later-->
            <fieldset class="form-group">
                <h1 class="">LINKS {{ language }}</h1>
                <!--?Can I use h1 instead of legend-->
                <h2 class="">Add A Link</h2>



                <!--INPUT TOPIC-->
                <div class="form-group">
                    {{ form.topic.label(class="form-control-label") }}
                    {% if form.topic.errors %}
                    {{ form.topic(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.topic.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.topic(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT TYPE-->
                <div class="form-group">
                    {{ form.link_type.label(class="") }}
                    {% if form.link_type.errors %}
                    {{ form.link_type(class="") }}
                    {% for error in form.link_type.errors %}
                    <span class="oops">{{ error }}</span>
                    {% endfor %}
                    {% else %}
                    {{ form.link_type(class="") }}
                    {% endif %}
                </div>
                <!--? BOOTSTRAP WITH RADIO-->

                <!--INPUT URL-->
                <div class="form-group">
                    {{ form.url.label(class="form-control-label") }}
                    {% if form.url.errors %}
                    {{ form.url(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.url.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.url(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT NAME-->
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT DESCRIPTION-->
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.description(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT RATE-->
                {{ form.rate.label }}
                {{ form.rate }}

                <button type="" class="button-style--i p-0">
                    <i class="far fa-star"></i></button>
                <button type="" class="button-style--i p-0">
                    <i class="far fa-star"></i></button>
                <button type="" class="button-style--i p-0">
                    <i class="far fa-star"></i></button>
                <button type="" class="button-style--i p-0">
                    <i class="far fa-star"></i></button>
                <button type="" class="button-style--i p-0">
                    <i class="far fa-star"></i></button>

            </fieldset>
            <!--WHAT: Bootstrap class form-group-->
            <!--WHAT: Fieldset element groups data in a form-->
            <!--WHAT: Legend element label for fieldset-->
            <!--WHAT: Note how to add classes to variables. Pass in a class argument.-->

            <!--SUBMIT BUTTON-->
            <div class="form-group">
                {{ form.submit(class="btn button-style") }}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <h2 class="message--oops">{{ message }}</h2>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>

            <!--WHAT: Facility to print flash messages on all pages-->



        </form>

    </div>
</div>

{% endblock content%}