<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Learning to code? Save notes. Share links." />
    <meta name="keywords" content="Coding, HTML, CSS, JavaScript, Python, Share, Links, Notes" />
    <meta name="author" content="coderbeez" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" />
    <title>qwerty</title>
</head>

<body>

    <!--NAVBAR-->
    <div class="container">
        <div class="row">
            <nav class="col-12 d-flex p-3">
                <div class="align-self-center">

                    <!--HOME LINK-->
                    <a class="mr-4" href="{{ url_for('index') }}">*home</a>

                    <!--NOTES DROPDOWN-->
                    <div class="dropdown d-inline-block">
                        <a class="mr-4" href="#" id="note-dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            *notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="note-dropdownMenuLink" id="pick--links">
                            <a class="dropdown-item" href="{{ url_for('notes', language='HTML')}}">HTML</a>
                            <a class="dropdown-item" href="{{ url_for('notes', language='CSS')}}">CSS</a>
                            <a class="dropdown-item" href="{{ url_for('notes', language='JavaScript')}}">JavaScript</a>
                            <a class="dropdown-item" href="{{ url_for('notes', language='Python')}}">Python</a>
                            {% if not current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{ url_for('register')}}">Register</a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="{{ url_for('logout')}}">Logout</a>
                            {% endif %}
                            <!--WHAT: Logout only visible if user logged in successfully.-->
                            <!--WHERE: Corey Schafer Flask User Authentication https://www.youtube.com/watch?v=CSHx6eCkmv0&list=PL-osiE80TeTt2d9bfVyTiXJA-UTHn6WwU&index=70&t=1432s-->
                        </div>
                    </div>

                    <!--LINKS DROPDOWN-->
                    <div class="dropdown d-inline-block">
                        <a class="mr-4" href="#" id="link-dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            *links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="link-dropdownMenuLink" id="pick--links">
                            <a class="dropdown-item" href="{{ url_for('links', language='HTML')}}">HTML</a>
                            <a class="dropdown-item" href="{{ url_for('links', language='CSS')}}">CSS</a>
                            <a class="dropdown-item" href="{{ url_for('links', language='JavaScript')}}">JavaScript</a>
                            <a class="dropdown-item" href="{{ url_for('links', language='Python')}}">Python</a>
                        </div>
                    </div>
                    <!--WHERE: Bootstrap dropdown menu & item classes.-->
            </nav>
        </div>
    </div>

    <!--MAIN CONTAINER-->
    <div class="container">
        <div class="row">

            <!--LEFT COLUMN-->
            <div class="col-12 col-md-7 col-lg-7">
                <!--FLASH MESSAGE-->
                {% with messages = get_flashed_messages(category_filter=["message"]) %}
                <!--WHY: As message is the default category, used to show all but error, search and first messages.-->
                <!--WHERE: Using categoreis from Flask Flash documentation https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/ -->
                {% if messages %}
                {% for message in messages %}
                <p class="mb-2 message">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <!--MAIN CONTENT-->
                <div class="row">
                    <main class="col-12">
                        {% block content %}
                        {% endblock content %}
                    </main>
                </div>

            </div>

            <!--RIGHT COLUMN - SIDEBAR-->
            <section class="d-none d-md-block col-md-5 col-lg-4 offset-lg-1">

                {% block sidebar %}

                <!--DARK MODE-->
                <h2>Dark Mode<label class="ml-2 switch" aria-label="dark mode"><input type="checkbox"
                            data-dark="switch"><span class="slider round"></span></label></h2>
                <!--WHERE: Switch from W3Schools https://www.w3schools.com/howto/howto_css_switch.asp-->


                <!--DISTRACTION-->
                <h2 class="mt-3 mt-md-5">Distraction</h2>
                <ul class="list-group p-0 dark-ul mb-3 mb-0">

                    <!--QUOTE-->
                    <li class="list-group-item">
                        <h3><i class="fas fa-quote-left mr-2"></i>Quote</h3>
                        <span class="italics"> "{{quote.quote}}"</span><br>
                        <span>{{quote.author}}</span>
                    </li>

                    <!--SAMPLE LINKS-->
                    <li class="list-group-item">
                        <h3><i class="fas fa-link mr-2"></i></i>Sample Links</h3>
                        <a class="d-block" href="{{ sample1.url }}" target="_blank" rel="noopener">{{ sample1.language}}
                            - {{ sample1.link_name }}</a>
                        <a class="d-block mt-2" href="{{ sample2.url }}" target="_blank"
                            rel="noopener">{{ sample2.language}} - {{ sample2.link_name }}</a>
                        <a class="d-block mt-2" href="{{ sample3.url }}" target="_blank"
                            rel="noopener">{{ sample3.language}} - {{ sample3.link_name }}</a>
                        <a class="d-block mt-2" href="{{ sample4.url }}" target="_blank"
                            rel="noopener">{{ sample4.language}} - {{ sample4.link_name }}</a>
                    </li>

                    <!---INSPIRATION LINKS-->
                    <li class="list-group-item">
                        <h3><i class="fas fa-lightbulb mr-2"></i>Inspiration</h3>
                        <div class="d-flex justify-content-between">
                            <a href="https://www.awwwards.com/sites/lafaurie-paris" target="_blank"
                                rel="noopener">awwwards</a>
                            <a href="https://cssdesignawards.com/" target="_blank" rel="noopener">cssda</a>
                            <a href="https://www.csswinner.com/" target="_blank" rel="noopener">csswinner</a>
                            <a href="https://thefwa.com/" target="_blank" rel="noopener">fwa</a>
                    </li>

                    <!--SPOTIFY PLAYLIST-->
                    <li class="list-group-item">
                        <h3><i class="fas fa-music mr-2"></i>music</h3>
                        <div>
                            <a href="https://open.spotify.com/playlist/1x7knVnmdkheR1SlWq0cil?si=58WdBzYpTG6N0f_ON31dHQ"
                                target="_blank" rel="noopener"><img
                                    src="{{ url_for('static', filename='images/playlist.JPG')}}" class="img-fluid"
                                    alt="spotify playlist"></a>
                        </div>
                    </li>

                </ul>
                {% endblock %}
                <!--WHERE: Using Jinja super blocks https://realpython.com/primer-on-jinja-templating/#super-blocks -->
                <!--WHY: Super block used to allow distraction base code be inserted in index page. -->
            </section>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>