{% extends 'base.html' %}
{% block content%}

<div class="row">
    <div class="col-12 col-md-10">
    <!--WHY: Bootstrap rows & columns used to limit width of form on md & lg devices.-->

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!--WHY: hidden_tag method for security.-->

            <fieldset class="form-group">
                <legend class="">{{ language }} Notes - Edit </legend>

                <!--INPUT TOPIC-->
                <div class="form-group">
                    {{ form.topic.label(class="form-control-label") }}
                    {% if form.topic.errors %}
                    {{ form.topic(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.topic.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.topic(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT NAME-->
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT CONTENT-->
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control is-invalid", rows=6)}}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.content(class="form-control", rows=6) }}
                    {% endif %}
                </div>
            </fieldset>
            <!--WHAT: Bootstrap classes used for formatting all fields and labels.-->
            <!--WHAT: Fieldset element used to group data in the form-->
            <!--WHAT: Legend element used as label for fieldset-->

            <!--SUBMIT BUTTON & FLASH MESSAGE-->
            <div class="form-group">
                {{ form.submit(class="btn button-style") }}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                <!--WHERE: Using category filters from Flask Flash Documentation https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
                {% if errors %}
                {% for error in errors %}
                <span class="error ml-3">{{ error }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--WHY: Error message displayed next to button verses top of page to improve visibilty after submitting.-->

        </form>
    </div>
</div>

{% endblock content%}