{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content%}

<!--HERO-->
<div class="vh--90 hero pt-5 pl-4">
    <h1 class="pt-2">Qwerty</h1>
    <p class="tagline">save notes</p>
    <p class="tagline">share links</p>
    <p class="tagline--codes pt-2">- HTML CSS JavaScript Python -</p>
</div>

<!--SIDEBAR DARK MODE & DISTRACTION - SMALL DEVICES-->
<aside class="d-md-none mt-4">
    {% block sidebar %}
    {{super()}}
    {% endblock %}
</aside>
<!--WHY: Sidebar only available on home page on small devices.-->
<!--WHERE: Using Jinja super blocks https://realpython.com/primer-on-jinja-templating/#super-blocks -->

{% endblock content%}