{% extends 'base.html' %}

{% block content%}
<!--HERO-->


<div class="vh--80 hero pt-5 pl-4">
    <h1 class="pt-2">Qwerty</h1>
    <p class="tagline">save notes</p>
    <p class="tagline">share links</p>
</div>
<div class="vh--10"></div>

<!--SIDEBAR SMALL DEVICES-->


<section class="d-md-none">

    <h2 class="mt-2">Why Qwerty</h2>
    <ul class="list-group p-0">
        <!--<li class="list-group-item"><h3 class="text-right m-0">about us</h3></li>-->
        <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque
            nam, modi sed animi accusantium aliquid, ullam assumenda voluptatem aliquam quam ad tenetur.
            Ut, velit aspernatur.</li>
        <li class="list-group-item">
            <input type="checkbox" data-toggle="toggle"><span class="handwrite">dark mode</span>
            <span class="ml-3">by coderbeez</span>
        </li>
    </ul>

    <h2 class="mt-5">Break Time</h2>
    <ul class="list-group p-0">
        <!--<li class="list-group-item"><h3 class="text-right m-0">distract me</h3></li>-->
        <li class="list-group-item"><i class="fas fa-music mr-2"></i> <span class="handwrite">music</span>
            <div class="embed-responsive embed-responsive-21by9"><iframe
                    src="https://open.spotify.com/embed/album/6pP96QZ9sIST5vC8OoijqV" width="300" height="80"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </li>
        <li class="list-group-item"><i class="fas fa-quote-left mr-2"></i><span class="handwrite">quote</span><br>
            "{{quote.quote}}"<br><strong>{{quote.author}}</strong></li>
        <li class="list-group-item "><i class="fas fa-lightbulb mr-2"></i> <span class="handwrite">inspire</span><br>
            <div class="d-flex justify-content-between">
            <a href="https://www.awwwards.com/sites/lafaurie-paris">awwwards</a>
            <a href="https://cssdesignawards.com/">cssda</a>
            <a href="https://www.csswinner.com/">csswinner</a>
            <a href="https://thefwa.com/">fwa</a>
        </div>
        </li>
        <li class="list-group-item"><i class="fas fa-link mr-2"></i></i> <span class="handwrite">sample links</span><br>
            <a class="d-block" href="{{ sample1.url }}">{{ sample1.language}} - {{ sample1.link_name }}</a>
                        <a class="d-block" href="{{ sample2.url }}">{{ sample2.language}} - {{ sample2.link_name }}</a>
                        <a class="d-block" href="{{ sample3.url }}">{{ sample3.language}} - {{ sample3.link_name }}</a>
                        <a class="d-block" href="{{ sample4.url }}">{{ sample4.language}} - {{ sample4.link_name }}</a>
                    </li>
    </ul>

</section>
{% endblock content%}