{% extends 'base.html' %}

{% block content%}
<!--HERO-->


<div class="vh--90 hero pt-5 pl-4">
    <h1 class="pt-2">Qwerty</h1>
    <p class="tagline">save notes</p>
    <p class="tagline">share links</p>
    <p class="tagline--codes pt-2">- HTML CSS JavaScript Python -</p>
</div>


<!--SIDEBAR SMALL DEVICES-->


<section class="d-md-none mt-4">

        <h2>Dark Mode<label class="ml-2 switch" aria-label="dark mode"><input type="checkbox" data-dark="switch"><span
            class="slider round"></span></label>
<!--WHERE: W3Schools https://www.w3schools.com/howto/howto_css_switch.asp-->

        
{% block sidebar %}
  {{super()}}
  {% endblock %}
   <!--WHERE: Using Jinja super blocks https://realpython.com/primer-on-jinja-templating/#super-blocks -->
   
</section>
{% endblock content%}