{% extends 'base.html' %}
{% block content%}
<h1>Links - Python</h1>

{% for group_topic in group_topics %}
<h2>{{ group_topic._id}}</h2>

{% for link in links %}
{% if link.topic == group_topic._id %}


{% if loop.previtem is undefined %}
<h3>{{link.link_type}}</h3>
{% elif loop.previtem.link_type != link.link_type %}
<h3>{{link.link_type}}</h3>
{% endif %}

<!--{% if link.link_type == "instruct" %}
<i class="fas fa-chalkboard-teacher"></i>
{% elif link.link_type == "practice" %}
<i class="fas fa-pencil-alt"></i>
{% elif link.link_type == "resource" %}
<i class="fas fa-tools"></i>
{% endif %}-->

<p class="m-1">
        <button class="btn" type="button" data-toggle="collapse" data-target="#id{{link._id}}" aria-expanded="false"
              aria-controls="collapsePoints">
              <i class="fas fa-chevron-down"></i>
        </button>
     

<a href="{{ link.url }}" target="_blank">{{ link.link_name }}</a>

    {% if (link.ratings|sum)//(link.ratings|count) == 1 %}
    <span><i class="fas fa-star"></i></span>
    {% elif (link.ratings|sum)//(link.ratings|count) == 2 %}
    <span><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
    {% elif (link.ratings|sum)//(link.ratings|count) == 3 %}
    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></span>
    {% elif (link.ratings|sum)//(link.ratings|count) == 4 %}
    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i></span>
    {% elif (link.ratings|sum)//(link.ratings|count) == 5 %}
    <span><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
            class="fas fa-star"></i></span>
    {% endif %}

    <small>{{ link.ratings|count }} ratings</small>
</p>

<div class="collapse" id="id{{link._id}}">
        <ul class="list-group-flush p-0">
              <li class="list-group-item">{{ link.description }}</li>
                       <li class="list-group-item">
                               <span class="mr-5">rate <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i
                        class="far fa-star"></i></span>
                        <button class="button-style m-0">problem</button></li>
        </ul>
  </div>


{% endif %}
{% endfor %}
{% endfor %}




{% endblock content %}