{% extends 'base.html' %}

{% block content%}
<div class="row">
    <div class="col-12 col-md-8">
<!--WHY: Bootstrap rows & columns used to limit width of form on md & lg devices.-->

        <form method="POST">
            {{ form.hidden_tag() }}
            <!--WHY: hidden_tag method for security.-->
            <fieldset class="form-group">
                <legend>Login</legend>
                
                <!--INPUT EMAIL-->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT PASSWORD-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <!--WHAT: Bootstrap classes used for formatting all fields and labels.-->
            <!--WHAT: Fieldset element used to group data in the form-->
            <!--WHAT: Legend element used as label for fieldset-->

            <!--SUBMIT BUTTON & FLASH MESSAGE-->
            <div class="form-group m-0">
                {{ form.submit(class="btn button-style") }}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                <!--WHERE: Using categories from Flask Flash Documentation https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
                {% if errors %}
                {% for error in errors %}
                <span class="error ml-3">{{ error }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--WHY: Error message displayed next to button verses top of page to improve visibilty after submitting.-->
        </form>

        <p class="">Not registered? <a href="{{ url_for('register') }}">Register</a></p>

    </div>
</div>

{% endblock content%}