{% extends 'base.html' %}

{% block content%}
<div class="row">
    <div class="col-12 col-md-8">
        <span>{{ language }}</span>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!--WHY: form instance. hidden_tag method for security - will come back to later-->
            <fieldset class="form-group">
                <h1 class="">REGISTER</h1>
                <!--?Can I use h1 instead of legend-->
                <h2 class="">Sign Up For Notes</h2>


                <!--INPUT NAME-->
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    <!--WHAT: Bootstrap clases passed as an argument-->
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT EMAIL-->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT PASSWORD-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT CONFIRM-->
                <div class="form-group">
                    {{ form.confirm.label(class="form-control-label") }}
                    {% if form.confirm.errors %}
                    {{ form.confirm(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm(class="form-control") }}
                    {% endif %}
                </div>

            </fieldset>
            <!--WHAT: Bootstrap class form-group-->
            <!--WHAT: Fieldset element groups data in a form-->
            <!--WHAT: Legend element label for fieldset-->
            <!--WHAT: Note how to add classes to variables. Pass in a class argument.-->

            <!--SUBMIT BUTTON & FLASH MESSAGE-->
            <div class="form-group">
                {{ form.submit(class="btn button-style") }}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                <!--WHERE: Flask Flash Documentation https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
                {% if errors %}
                {% for error in errors %}
                <strong class="error"><br>{{ error }}</strong>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--WHY: Error message displayed next to button verses top of page to improve visibilty after submitting.-->

        </form>
        <div class>Already registered? <a href="{{ url_for('login', language=language)}}">login</a></div>
    </div>
</div>

{% endblock content%}