{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content%}
<div class="row">
    <div class="col-12 col-md-8">

        <h3 class="mb-2 message">Sign-up for notes!</h3>

        <form method="POST">
            {{ form.hidden_tag() }}
            <!--WHY: hidden_tag method for security.-->
            <fieldset class="form-group">
                <legend>Register</legend>

                <!--INPUT NAME-->
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }} <small> (min 2 characters)</small>
                    {% if form.name.errors %}
                    {{ form.name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.name(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT EMAIL-->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid", autocapitalize="off") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control", autocapitalize="off") }}
                    {% endif %}
                </div>
                <!--WHERE: Prevent autocapitalise from https://stackoverflow.com/questions/54372754/prevent-wtform-from-autocapitalizing-on-mobile -->

                <!--INPUT PASSWORD-->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }} <small> (min 6 characters) </small>
                    {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control") }}
                    {% endif %}
                </div>

                <!--INPUT CONFIRM PASSWORD-->
                <div class="form-group">
                    {{ form.confirm.label(class="form-control-label") }}
                    {% if form.confirm.errors %}
                    {{ form.confirm(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.confirm(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <!--WHAT: Bootstrap classes used for formatting all fields and labels.-->

            <!--SUBMIT BUTTON & FLASH MESSAGE-->
            <div class="form-group m-0">
                {{ form.submit(class="btn button-style") }}
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                <!--WHERE: Flask Flash Documentation https://flask.palletsprojects.com/en/1.1.x/patterns/flashing/-->
                {% if errors %}
                {% for error in errors %}
                <span class="error ml-3">{{ error }}</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <!--WHY: Error message displayed next to button verses top of page to improve visibilty after submitting.-->
        </form>

        <p>Already registered? Select a notes language to login!</p>

    </div>
</div>

{% endblock content%}